/*navbar*/
@font-face {
    font-family: "gang";
    src: url("font/gang.ttf");
}

.nav ul li {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: "gang";
}

.nav {
    background-color: #191d1f;
    position: relative;
    width: 457%;
    right: 70%;
    padding: 2em;
}

.gaijin-logo {
    position: relative;
    width: 15em;
    right: 35em;
    bottom: 2em;
}

.luffy-logo {
    position:relative;
    width: 3em;
    left: 84em;
    bottom: 10em;
   
}

a {
    color: white;

}

.nav1 {
    position: relative;
    left: 64em;
    top: 2em;
}

.nav2 {
    position: relative;
    left: 65em;
    top: 2em;

}

.nav3 {
    position: relative;
    left: 66em;
}

.span-nav {
    font-size: 30px;
}

.span-nav1 {
    font-size: 22px;
    color: red;
}

.span-nav2 {
    font-size: 22px;
}

.span-nav3 {
    font-size: 22px;
    color: red;
}

.span-nav4 {
    font-size: 22px;
}

.span-nav6 {
    font-size: 22px;
}

.span-nav5 {
    font-size: 22px;
    color: red;
}


.logo{
    position: relative;
    bottom: 8em;
}

.banner{
    background-image: url(img/gaijin%20banner2.png);
    background-size: cover;
    padding: 10%;
    background-repeat: no-repeat;
}
