@font-face {
    font-family: "futura";
    src: url("resource/font/futura.ttf");
}

/*navbar*/
nav ul li {
    position: relative;
    display: inline-block;
    font-family: "futura";
}


.nav1 {
    position: relative;
    left: 460px;
}
    
.nav2 {
    position: relative;
    left: 500px;
    color: gray;
}

.nav3 {
    position: relative;
    left: 530px;
    color: gray;
}

.nav4 {
    position: relative;
    left: 570px;
    color: gray;
}

.nav5 {
    position: relative;
    left: 600px;
    color: gray;
}

a {
    position: relative;
    text-decoration: none;
    color: black;

}

/*navbar end*/
/*banner*/
.banner {
    background-image: url(resource/19.png); 
    background-repeat: no-repeat;
    padding: 2em;
background-size: cover;
}



h1 {
    position: relative;
    text-align: center;
    right: -5%;
    bottom: 100px;
    font-size: 40px;
    font-family: "futura";
    font-weight: lighter;
    font-weight: bold;
    letter-spacing: 10px;
}

.bermudes-span{
    position: relative;
    text-align: center;
    left: 38%;
    bottom: 25px;
    font-size: 40px;
    font-family: "futura";
}

/*banner end*/
/*Articles*/

.img1 {
    position: relative;
    width: 30em;
}

.articles {
    position: relative;
    left: 30%;
    font-family: "futura";
    font-weight: lighter;
}

.lifestyle {
    position: relative;
    font-size: 14px;
    border: 1px solid black;
}

.block1 a {
    font-size: 1.2vw;
    display: block;
    border: 1px solid black;
    text-align: center;
    width: 30%;
}


.article-span {
    position: relative;
    left: 10%;
    top: 3em;
}

.span0 {
    position: relative;
    display: block;
    width: 25px;
    border: 1px solid black;
    font-size: 22px;
    right: 5em;
    color: wheat;
    text-align: center;

}

.span2 {
    position: relative;
    display: block;
    width: 25px;
    border: 1px solid black;
    font-size: 22px;
    right: 3em;
    bottom: 27px;
    text-align: center;

}

.span3 {
    position: relative;
    display: block;
    width: 25px;
    border: 1px solid black;
    font-size: 22px;
    right: 1em;
    bottom: 55px;
    text-align: center;

}

.span4 {
    position: relative;
    display: block;
    width: 25px;
    border: 1px solid black;
    font-size: 22px;
    left: 25px;
    bottom: 82px;
    text-align: center;

}

.span5 {
    position: relative;
    display: block;
    width: 25px;
    border: 1px solid black;
    font-size: 22px;
    left: 75px;
    bottom: 110px;
    text-align: center;

}

.next {
    position: relative;
    display: block;
    width: 80px;
    border: 1px solid black;
    font-size: 15px;
    left: 120px;
    bottom: 140px;
    padding: 7px;
    text-align: center;
}



/*Articles end*/

/*sidebar*/
.container {
    position: absolute;
    left: 68%;
    top: 21em;

}

.span1 {
    color: gray;
}

h3 {
    position: relative;
    left: 3%;
}

.icon {
    position: relative;
    left: 2%;
}

.first-hr {
    position: relative;
    width: 100%;
    top: 5px;
}

.img-section {
    position: relative;
    width: 8em;
}

.section-text {
    position: relative;
    left: 50%;
    bottom: 100px;
    font-size: 13px;
}

.section-date {
    position: relative;
    left: 50%;
    bottom: 60px;
    font-size: 12px;
}

.mini-article {
    position: relative;
    bottom: 20px;
}

.second-hr {
    position: relative;
    width: 100%;
    bottom: 50px;
}

.section-archives {
    position: relative;
    bottom: 30px;
    font-size: 12px;
}

/*sidebar end*/

/*footer*/
.footer-pic {
    position: relative;
    width: 100%;
    bottom: 20px;
}

.footer {
    position: relative;
    background-color: black;
    color: white;
    height: 260px;
    text-align: center;
    font-family: "futura";
}

.footer-p {
    position: relative;
    top: 5%;
    font-size: 20px;
}

.footer-p2 {
    position: relative;
    top: 1%;
    font-size: 12px;
}

.footer-p3 {
    position: relative;
    font-size: 13px;
    bottom: 10px;
}

.footer-img {
    position: relative;
    width: 150px;
    top: 8px;
    height: 150px;
}
