body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(108, 66, 223);
}

.gate_text{
    margin-top: 10%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gn_block{
    box-shadow: 9px 7px;
    background-color: white;
    margin: 3% 0 0 7%;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 85%;
    margin-bottom: 2%;
}

.first_block{
    background-image: url("assets/seller1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.second_block{
    border-left: solid 1px black;
    width: 100%;
    text-align: center;
}

.selection{
    margin-top: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mk_place{
    border: solid 1px black;
    margin-left: 25%;
    margin-right: 25%;
}

#hm_service{
    border: solid 1px black;
    margin-left: 25%;
    margin-right: 25%;
}

#cs_location{
    border: solid 1px black;
    margin-left: 25%;
    margin-right: 25%;
}

#mk_place:hover{
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

#hm_service:hover{
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

#cs_location:hover{
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.titre{
    font-weight: bold;
    font-size: 20px;
    color:  rgb(34, 62, 124);;
}

.legend{
    font-weight: bold;
    font-size: 20px;
    color:  black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

/*.social-media{
    border: 2px solid red;
    display: flex;
    justify-content: right;
}*/

.droit{
    color: white;
    text-align: center;
}

.footer{
    padding:0 0 0.7% 0 ;
    background-color: black;
    overflow: hidden;
}